<tr>
  <% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
  <% end %>
</tr>

<h1>Create new item</h1>

<%= form_for @item, html: { multipart: true } do |f|  %>
  <%= render partial: "form", locals: { f: f } %>
  <p></br><%= f.submit "Создать товар"%></p>
<% end %>

<%= render  partial: "devise/shared/email" %>
